@model IEnumerable<MealProject.Models.Likedrecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br /><br /><br /><br />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipelabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipedata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipeimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Userlogin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipelabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipedata)
            </td>
            <td>
                    <img src="@Url.Content("~/Images/"+item.Recipeimage)" asp-append-version="true" width="100" height="100" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userlogin.Userloginid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Likedid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Likedid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Likedid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
